/* rich-black: #01161eff;
midnight-green: #124559ff;
air-force-blue: #598392ff;
ash-gray: #aec3b0ff;
beige: #eff6e0ff; */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

.all-articles{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.all-articles p{
    color: white;
    text-decoration:none ;
}

.all-articles div{
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: #124559ff;
    text-decoration: none;
}

.article-page{
    display:flex;
    flex-direction: column;
    padding:2rem;
}
 
.topic-header{
    background-color: #598392ff;
    color: white;
    padding:2rem;
}

.article-page img{
    max-width: 60rem;
    padding:2rem;
}

.article-page p{
    margin: 0;
}

.article-page body{
    margin-bottom: 2rem;
}