/* rich-black: #01161eff;
midnight-green: #124559ff;
air-force-blue: #598392ff;
ash-gray: #aec3b0ff;
beige: #eff6e0ff; */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

  }

  li{
    list-style:none;
}

.all-articles{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;  
}


.all-articles p{
    color: white;

}

.all-articles div{
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: #124559ff;
}

.article-page{
    display:flex;
    flex-direction: column;
    padding:0px;
}
 
.topic-header{
    background-color: #598392ff;
    color: white;
    padding:1.5rem;
    border-radius: 2rem;
    font-size: 2rem;
}

.article-page{
    padding:3rem;
}
.article-page img{
    max-width: 60rem;
    padding:2rem;
}

.article-page p{
    margin: 0.2rem;
}

.article-body{
    padding-bottom: 2rem;
}
.article-page div{
    background-color: rgb(140, 138, 138);
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 1rem;
    padding:.5rem;
}

.article-page h4{
    font-size: larger;
}

ul{
    padding:0rem;
    margin:0;
}

.comments{
margin-bottom: 2rem;
border-left: 1px solid grey;
border-width: .5rem;

}

.comments .author{
 font-weight: bold;

}

.date{
    color: grey;
}

.like-dislike{
    display: flex;
    justify-content: center;
    width: 7rem;
    font-size: 1rem;
    margin: .5rem;
    border-radius: 1rem;
    padding:.5rem;
}

div .buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    
}